<block-ui>
    <div class="layout-wrapper"
    [ngClass]="{ 'layout-compact': layoutCompact }"
    (click)="onLayoutClick()">
    <div #layoutContainer
        class="layout-container"
        [ngClass]="{
            'menu-layout-static': !menuService.isOverlay(),
            'menu-layout-overlay': menuService.isOverlay(),
            'layout-menu-overlay-active': menuService.overlayMenuActive,
            'menu-layout-horizontal': menuService.isHorizontal(),
            'menu-layout-slim': menuService.isSlim(),
            'layout-menu-static-inactive': menuService.staticMenuDesktopInactive,
            'layout-menu-static-active': menuService.staticMenuMobileActive
        }">
        <app-topbar></app-topbar>
        <div class="layout-main">
            <div class="layout-content">
                <app-table></app-table>
                <br>
                <app-anexo></app-anexo>
                <br>
                <app-responsavel></app-responsavel>
                <app-footer></app-footer>
            </div>
        </div>
        <div class="layout-mask"></div>
    </div>
</div>
</block-ui>
